<section class="portofolio pb-5">
  <div class="container">
    <div class="portofolio-header mt-5  text-center">
      <h1 class="main_color text-uppercase animate__animated animate__bounceIn">portfolio component</h1>
      <app-star-main-color></app-star-main-color>
    </div>

    <div class="row g-4">
    @for ( imgSrc of imgsrcs; track $index) {
      <div class="col-md-6 col-lg-4">
        <div class="card-portofolio position-relative " (click)="getImgSrc($event)"  >
          <img class="img-fluid rounded-2"   [src]="imgSrc.src"  [alt]="imgSrc.alt" >
          <div class="bg-icon position-absolute h-100 d-flex justify-content-center align-items-center">
            <i class="fas fa-plus text-white"></i>
          </div>
        </div>
      </div>
    }




    </div>
  </div>

@if(imgSrc !== ''){
  <div class="show-img vh-100 d-flex justify-content-center align-items-center"  (click)="removeImgSrc()">
    <div class="container">
      <div class="col-sm-9 col-md-6 col-lg-5 mx-auto" (click)="stopCloseImg($event)">
        <img class="img-fluid" [src]="imgSrc" alt="">
      </div>
    </div>
  </div>
}



</section>
