<section class="vh-100 d-flex justify-content-center align-items-center text-center home">
  <div class="container">
    <div class="img-home img-fluid mb-5 mt-2">
      <img width="250px" class="animate__animated animate__slideInDown" src="imges/avataaars.svg" alt="home">
    </div>
    <h1 class="text-uppercase animate__animated animate__flipInX">Start gggg Framework</h1>
    <app-star></app-star>
    <p class="skils animate__animated animate__fadeIn">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</section>